/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  background: var(--ifm-footer-background-color);
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header h2 {
  font-weight: normal;
  color: var(--ifm-font-color-base);
  transition: color 0.2s;
}

.header h2:hover {
  color: var(--ifm-color-primary);
}

.body {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.separator {
  color: var(--ifm-color-emphasis-500);
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.avatar {
  width: 14rem;
  border: 2px solid var(--ifm-color-emphasis-300);
  border-radius: 50%;
  margin-bottom: 1rem;
}

.linkCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (min-width: 997px) {
    flex-direction: row;
  }
}

.linkCard {
  border-radius: 8px;
  padding: 1rem;
  transition: all 0.3s;
  border: 1px solid var(--ifm-color-emphasis-300);
  margin: 0.5rem;
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: left;
}

.linkCard:hover {
  background-color: var(--ifm-background-surface-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-emphasis-800);
}

.mainContainer {
  max-width: 95%;

  @media (min-width: 61rem) {
    max-width: 61rem;
  }
}

.notebookContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: 997px) {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 0.5rem;
  }
}

.notebook {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0), var(--ifm-color-emphasis-100));
  padding: 1.2rem;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 8px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  transition: all 0.3s;

  @media (min-width: 997px) {
    width: calc(50% - 0.5rem);
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.notebook:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-emphasis-800);
}