/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headerContainer {
  max-width: 90%;

  @media (min-width: 61rem) {
    max-width: 61rem;
  }
}

.headerContainer h2 {
  font-weight: normal;
  color: var(--ifm-font-color-base);
  transition: color 0.3s;
}

.headerContainer h2:hover {
  color: var(--ifm-color-primary);
}

.separator {
  color: var(--ifm-color-emphasis-500);
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.avatar {
  width: 7rem;
  border: 2px solid var(--ifm-color-emphasis-300);
  border-radius: 50%;
  margin-bottom: 1rem;

  @media (min-width: 997px) {
    width: 13rem;
  }
}