.card {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), var(--ifm-color-emphasis-100));
    border: 1px solid var(--ifm-color-emphasis-200);
    box-shadow: rgba(0, 0, 0, 0.15) 0 1.5px 3px 0;
    border-radius: 8px;
    padding: 0.6rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--ifm-font-color-base);


    @media(min-width: 997px) {
        padding-left: 1rem;
    }
}

.card:hover {
    border: 1px solid var(--ifm-color-primary);
}

.line {
    margin: 0.4rem;
}

.title {
    display: inline-block;
    font-weight: bold;
    width: 4.5rem;
}